<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aura Create Course</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/professorDashboard.css}"/>
</head>
<body>
<main role="main" class="container">
    <div class="starter-template">
        <h1>Create Graded Course</h1>
    </div>

    <form  th:action="@{course}" method="post">
        <label>Course Code:</label><br>
        <input type="text"  name = "course_code"/><br>
        <label>Course Name:</label><br>
        <input type="text"  name = "course_name"/><br>
        <label>Course Description</label><br>
        <input type="text" name = "course_description"/><br>
        <label>Total Credits</label><br>
        <input type="number"  name = "total_credits"/><br>
        <input type="submit" value="Create Course">


    </form>


</main>
<!-- /.container -->
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>