<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" th:href="@{/css/forum.css}"/>
    </head>
    <body>
        <form method="post" th:action="@{/forum/createNewTopic}" th:object="${newTopic}">
            <div>
                <input type="text" th:field="*{topic}" class="forum-create-new-topic-input-box">
                <button type="submit">Add Topic</button>
            </div>
        </form>

        <form method="post" th:action="@{/forum/postForumComment}" th:object="${forumComment}">
            <!-- th:each is thymeleaf loop -->
            <div th:each="topicItem,iterator : ${forumTopicMap}">
                <u><h3 th:text="${topicItem.value.topic} + ' (' + ${topicItem.value.createdBy} + ')'"></h3></u>

                <div th:each="response : ${topicItem.value.replyList}">
                    <p th:if="${response.reply} != ''" th:text="${response.reply} + ' (' + ${response.createdBy} + ')'"></p>
                </div>

                <input type="text" th:field="*{comment}" class="forum-topic-comment-box"/>
                <button type="submit">Add Comment</button>
                <br/><br/><hr/>
            </div>
        </form>

        <form method="get" th:action="@{/forum/goToSecondPage}">
            <button type="submit">Go To Second Page</button>
        </form>
    </body>
</html>