<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" th:href="@{/css/forum.css}"/>
    </head>
    <body>
        <form method="post" th:action="@{/register/newUser}" th:object="${user}">
            <div>
                <input type="text" th:field="*{username}">
                <input type="text" th:field="*{email}">
                <input type="text" th:field="*{password}">
            </div>

            <div class="form-group">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="student" name="student" class="custom-control-input" value="1" th:field="*{role}">
                    <label class="custom-control-label" for="student">Student</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="admin" name="admin" class="custom-control-input" value="2" th:field="*{role}">
                    <label class="custom-control-label" for="admin">Admin</label>
                </div>
            </div>

            <button type="submit">Register User</button>
        </form>
    </body>
</html>